* {
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}


.AppHeader {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.keyText {
  color: red;
}

.submitKeyButton {
    margin-top: 10px;
}

.canvasDisplay {
    background-color: lightblue;
    height: 100vh;
}