* {
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.bg {
  background: rgb(253, 255, 253);
  background: linear-gradient(333deg, rgba(200,255,200,1) 0%, rgba(161,224,196,1) 47%, rgba(0,255,222,1) 100%); 
  filter: blur(10px);
  -webkit-filter: blur(10px);
  height:100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

.AppHeader {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.keyText {
  color: red;
}

.submitKeyButton {
    margin-top: 10px;
}

.canvasDisplay { 
    height: 100vh;
}
