@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../public/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: Poppins;
}

.AppHeader {
  background-color: #282c34;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.canvasKeyText,
.canvasKeyTextLink {
  color: rgba(0, 255, 222, 1);
  padding-bottom: .5vh;
}

.canvasKeyTextLink {
  padding-left: 8px;
  padding-right: 2vw;
}

.canvasKeyField {
  background-color: rgb(173, 236, 228);
  border-width: 0px;
  height: 3vh;
  width: 60vw;
  border-radius: 1vh;
  max-height: 3vh;
  padding-left: .5vw;
}

.submitCanvasKeyButton {
  margin-left: 1vw;
  width: 10vw;
  height: 3vh;
  background-color: rgb(173, 236, 212);
  border-width: 0px;
  border-radius: 1vh;
  color: #282c34;
  font-family: 'Poppins';
}

.classDropdown {
  background-color: rgb(173, 236, 228);
  border-width: 0px;
  height: 3vh;
  width: 60vw;
  border-radius: 1vh;
  max-height: 3vh;
  font-family: 'Poppins';
  text-align: center;
  margin-bottom: 1vh;
}

.canvasDisplay {
  background: linear-gradient(333deg, rgba(200, 255, 200, 1) 0%, rgba(161, 224, 196, 1) 47%, rgba(0, 255, 222, 1) 100%);
  height: 98vh;
  color: #282c34;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatBox {
  padding-top: 2vh;
  width: 60vw;
  height: 83vh;
}

.cs-main-container {
  border-color: #282c34 !important;
  border-radius: 10px;
}

.scrollbar-container, .cs-message-input, .cs-typing-indicator {
  background-color: #282c34 !important;
  border-color: #282c34 !important;
}

.cs-typing-indicator__text {
  color: rgb(173, 236, 212) !important;
}

.cs-typing-indicator__dot {
  background-color: rgb(173, 236, 212) !important;
}

.cs-message__content {
  background: linear-gradient(333deg, rgba(0,78,255,0.2861345221682423) 0%, rgba(161,220,224,0.798739564185049) 68%, rgba(220,255,200,0.7903362028405112) 91%);
  color: #282c34 !important;
  font-family: 'Poppins' !important;
}

.cs-message-input__content-editor, .cs-message-input__content-editor-wrapper {
  background-color: rgb(173, 236, 228) !important;
  color: #282c34 !important;
  font-family: 'Poppins' !important;
}

